/* Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utility components */
:root{
    font-size: 62.5%;

/* Custom properties */

--primary-color: #014d4e;
--secondary-color: #ff9408;
--secondary-color-m: #ff94088e;
--tertiary-color: #017374;
--tertiary-color-m: #01727498;
}

body{
    font-family:
}