/* Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utility components */
:root {
    font-size: 62.5%;

    /* Custom properties */

    --primary-color: #014d4e;
    --secondary-color: #ff9408;
    /* --secondary-color: #FAF0CA; */
    --secondary-color-m: #ff94088e;
    --tertiary-color: #017374;
    --tertiary-color-m: #01727498;
}

body {
    font-family: "Baloon Tamma 2", cursive;
    line-height: 1.8;
    display: flex;
}

li {
    list-style: none;
}

a:link,
a:visited {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

aside#sideNav {
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
}

div.content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--primary-color);
}

div.contentLogo img {
    width: calc(3vw + 3vh);
    object-fit: cover;
}

ul.contentSocial {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

ul.contentSocial a i {
    font-size: clamp(1.5rem, 0.7541rem + 0.6557vw, 3rem);
    color: white;
    padding-bottom: clamp(3rem, 0.7541rem + 0.6557vw, 4rem);
    transition: color 0.35s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

ul.contentSocial a i:hover,
ul.contentSocial a i:active {
    color: var(--secondary-color);
}

main {
    flex: 1;
}

header#header {
    background-color: var(--secondary-color);
    height: calc(3vw + 3vh);
    z-index: 2;
}

nav#mainNav {
    height: 100%;
}

ul.mainLinks {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

ul.mainLinks li {
    padding-right: 3vw;
}

ul.mainLinks li a {
    position: relative;
    padding: 0.2rem 0.6rem;
    font-size: clamp(1.5rem, 0.7541rem + 0.6557vw, 3rem);
}

ul.mainLinks li a:link::before,
ul.mainLinks li a:visited::before,
ul.mainLinks li a:link::after,
ul.mainLinks li a:visited::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0.25rem;
    background-color: red;
    transform: scaleX(0);
    transition: transform 0.6s cubic-bezier(1, 0, 0, 1);
}

ul.mainLinks li a:link::before,
ul.mainLinks li a:visited::before {
    top: 0;
    /* transform-origin: left; */
}

ul.mainLinks li a:link::after,
ul.mainLinks li a:visited::after {
    bottom: 0;
    transform-origin: left;
}

/* ul.mainLinks li a:hover::before, 
ul.mainLinks li a:active::before, */
ul.mainLinks li a:hover::after,
ul.mainLinks li a:active::after,
ul.mainLinks li a:hover::after {
    transform: scaleX(1);
}

ul.mainLinks a:hover {
    color: red;
    transition: hover 0.5s cubic-bezier(1, 0, 0, 1);
}

section#showcase{
    height: 100vh;
    background-image: url('img/full-bg-07.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
div.showcaseContent{
    background-color: var(--secondary-color-m);
    padding: calc(1rem + 2vw);
    height: calc(5rem + 20vmax);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation: hero 2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
@keyframes hero{
    0%{
        transform: translateX(100rem) rotate(360deg);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
.showcaseTitle{
    font-size: calc(2rem + 3vw);
    color: white;
}
.showcaseParagraph{
    font-family: "Indie Flower", cursive; 
    font-size: calc(1rem + 1vw);
    color: white;
}
.showcaseLink,
.showcaseLink:visited{
    padding: 1rem 0;
    transition: all 0.5s ease-in-out;
    width: 9rem;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    position: relative;
    z-index: 1;
}
.showcaseLink::after,
.showcaseLink:visited::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--primary-color);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.45s cubic-bezier(0.645, 0.045, 0.355, 1);
    z-index: -1;
}
.showcaseLink:hover::after,
.showcaseLink:active::after{
    transform: scaleX(1);
    transform-origin: left;
}
section#work{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
    background-color: var(--tertiary-color);
}
div.workCard{
    padding: 2rem;
    flex-basis: 40rem;
    /* flex-grow: 1; */
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}
div.workCard img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: filter 0.45s ease;
}
div.workCard img:hover,
div.workCard img:active {
    filter: sepia(80%);
}
section#aboutMe{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--secondary-color);
    flex-wrap: wrap;
    padding: 2rem;
}
.aboutImg,
.aboutContent{
    flex-basis: 40rem;
    padding: 2rem;
    flex-grow: 1;
}
.aboutImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.aboutTitle{
    font-size: 4rem;
    padding: 1rem 0;
    color: white;
    text-transform: uppercase;
    position: relative;
}
.aboutTitle:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0.3rem;
    width: 10%;
    background-color: var(--primary-color);
}
.aboutTitle,
.aboutParagraph{
    margin-bottom: 4rem;
    letter-spacing: 0.2rem;
}
.aboutParagraph{
    font-size: 1.8rem;
    font-family: "Indie Flower", cursive;
}
.aboutLink:link,
.aboutLink:visited{
    padding: 1rem 0;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
}
.aboutLink:link::after,
.aboutLink:visited::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 0.45s cubic-bezier(0.645, 0.045, 0.355, 1);
    z-index: -1;
}
.aboutLink:hover::after,
.aboutLink:active::after{
    transform: scaleY(1);
    transform-origin: top;
}


@media screen and (max-width: 900px){

    section#showcase{
        background-position: 80%;
        align-items: flex-end;
    }
}

@media screen and (max-width: 610px) {
    header#header{
        position: absolute;
    }
    nav#mainNav{
        width: 30rem;
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
        right: -30rem;
        background-color: var(--secondary-color);
        text-align: center;
    }
    .clicked{
        left: 55%;
    }
    .mainHamburger{
        width: 5rem;
        height: 5rem;
        position: fixed;
        top: 2rem;
        right: 3rem;
        cursor: pointer;
        background-color: var(--secondary-color);
        padding: 1rem;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .line{
        width: 100%;
        height: 0.3rem;
        background-color: hsl(0, 0%, 100%);
        transition: all 0.4s ease-in-out;
    }
    ul.mainLinks{
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    ul.mainLinks li {
        margin-bottom: 4vh;
        margin-left: 6vw;
    }
    .clicked .line-1{
        transform: rotateZ(-405deg) translate(-0.8rem, 0.6rem);
    }
    .clicked .line-2{
        opacity: 0;
    }
    .clicked .line-3{
        transform: rotateZ(405deg) translate(-0.8rem, -0.6rem);
    }
    ul.mainLinks li{
        opacity: 0;
    }
    ul.mainLinks li:nth-child(1) {
        transition: all 0.5s ease-in-out 0.2s;
    }
    ul.mainLinks li:nth-child(2) {
        transition: all 0.5s ease-in-out 0.4s;
    }
    ul.mainLinks li:nth-child(3) {
        transition: all 0.5s ease-in-out 0.6s;
    }
    ul.mainLinks li:nth-child(4) {
        transition: all 0.5s ease-in-out 0.8s;
    }
    ul.mainLinks li:nth-child(5) {
        transition: all 0.5s ease-in-out 1s;
    }
    ul.mainLinks li:nth-child(6) {
        transition: all 0.5s ease-in-out 1.2s;
    }
    ul.mainLinks li.fade{
        opacity: 1;
    }
    section#showcase{
        background-position: 80%;
    }

}